@font-face {
    font-family: appFont;
    src: url("../fonts/centurygothic.ttf");
}
body{
    font-family: appFont;
}

.car .item-media .fa{
    color: #0074BD;
}
#myCar .item-title, #myCar .item-media{
    color: #0074BD;
}
.navbar .title {
    color: #9A0A1F;
}
.page-previous{
    display: none;
}
.home-icons{
    width: 100%;
}
.shooper .title {
    color: #9A0A1F;
}
.navbar a, .back {
    color: #9A0A1F;
}
.user_panel{
    background: rgba(255, 165, 0, 0.8);
    margin: 0 auto;
    margin-top: -20px;
    padding: 20px;

}
.user_panel h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}
.wrap_content{
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 55px;

}
#logo {
    display: block;
    width: 100px;
    border: 5px solid #dfdfdf;
    margin: 0 auto;
       margin-top: -50px;
    margin-bottom: 20px;
     /*  position: relative;*/
    border-radius: 120px;
}
#ad_image{
    position: absolute;
    bottom: 0px;
    padding: 4px;
    width: 100%;
}
#indexPage{
    background-image: url("../img/index_bg.jpg");
    background-size: cover;
}
.card .item-media i{
    color: #9A0A1F;
    font-size: 25px;
}
.ios .item-media .icon{
    color: #9A0A1F;
}
.bg-color-theme{
    background: #9A0A1F;
}
.answer{
    padding-top: 4px;
}